<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <title>Project 1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <nav class="navbar-wrapper">
        <div class="navbar-content">
            <a class="main nav-link" asp-controller="Home" asp-action="Index">Главная</a>
            <a class="contacts nav-link" href="#contacts">Контакты</a>
        </div>
    </nav>
    <div class="page3">
        <span>ТРЕТЬЯ СТРАНИЦА В РАБОТЕ, ПОДОЖДИТЕ ЧУТЬ ЧУТЬ!</span>
    </div>
    <footer class="footer-wrapper">
        <div class="flex-container-center footer-content">
            <div>
                <div class="contact-item">
                    <a name="contacts" class="contact-item-url" href="https://vk.com/medvedeva94">
                        <img src="/images/vk.svg"
                             alt="">
                    </a>
                    <a class="contact-item-url" href="https://www.instagram.com/olyamedvedeva">
                        <img src="/images/inst.svg"
                             alt="">
                    </a>
                    <p>Project by Olga Medvedeva</p>
                </div>
                <div class="contact-item">
                    <a class="contact-item-url" href="https://vk.com/missmemes"><img src="/images/vk.svg" alt=""></a>
                    <a class="contact-item-url" href="https://www.instagram.com/m1ss_memes"><img src="/images/inst.svg" alt=""></a>
                    <p>Programmed by Anastasya Sokolova</p>
                </div>
                <div class="contact-item">
                    <a class="contact-item-url" href="https://vk.com/sophame"><img src="/images/vk.svg" alt=""></a>
                    <a class="contact-item-url" href="https://www.instagram.com/sopha.izmaylova">
                        <img src="/images/inst.svg"
                             alt="">
                    </a>
                    <p>Designed by Sophia Izmaylova</p>
                </div>
            </div>
            <p class="rgy">
                РГУ им. А.Н.Косыгина<br>
                (Технологии. Дизайн. Искусство) <br>
                г. Москва
            </p>
            <p>Medvedeva2509@gmail.com</p>
            <p>2021</p>
        </div>
    </footer>
</body>


</html>